body {
    font-family: sans-serif;
    padding: 1em;
    background-color: antiquewhite;
}

label {
    font-weight: bold;
}

div {
    padding-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    width: 150px;
}

p {
    background: #ffdd85;
    color: #5e2612;
    padding: 1em;
    visibility: hidden;
    font-family: cursive;
}